<%= form_for(@mobilization) do |f| %>
  <% if @mobilization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mobilization.errors.count, "error") %> prohibited this mobilization from being saved:</h2>

      <ul>
      <% @mobilization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Título"%><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category, "Categoria" %><br>
    <%= f.number_field :category %>
  </div>
  <div class="field">
    <%= f.label :description, "Descrição" %><br>
    <%= f.text_area :description %>
  </div>

  <div class = "field">
    <%= f.label "Alvos" %><br>
    <%= f.collection_select(:target_ids, Target.all, :id, :name, {}, {:multiple => true} ) %>
  </div>
  
  <div class="field">
    <%= f.label :mail_content %><br>
    <%= f.text_area :mail_content %>
  </div>
  <div class="actions">
    <%= f.submit "Criar", class: "btn btn-lg btn-primary2"%>
  </div>
<% end %>
