<%= form_for(@mobilization) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :title, "Título"%><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category, "Categoria" %><br>
 <!--    <%= f.number_field :category %> -->
    <%= f.number_field %>
  </div>
  <div class="field">
    <%= f.label :description, "Descrição" %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :goal, "Meta" %><br>
    <%= f.number_field :goal %>
  </div>

  <div class = "field">
    <%= f.label "Alvos" %><br>
    <%= f.collection_select(:target_ids, Target.all, :id, :name, {}, {:multiple => true} ) %>
  </div>
  
  <div class="field">
    <%= f.label :mail_content %><br>
    <%= f.text_area :mail_content %>
  </div>
  <div class="actions">
    <%= f.submit "Criar", class: "btn btn-lg btn-primary2"%>
  </div>
<% end %>
