<%= form_for(@mobilization) do |f| %>
  <center>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :title, "Título", class: "mdl-textfield__label"%><br>
    <%= f.text_field :title, class: "mdl-textfield__input" %>
  </div>

  <div style="width: 500px">
    <div style="display: inline-block" class="field">
      <%= f.label "Categoria" %><br>
      <%= f.select(:category, options_for_select([[$categories[0], 0], [$categories[1], 1], 
      [$categories[2], 2], [$categories[3], 3]])) %>
    </div>

    <div style="display: inline-block" class="field">
      <%= f.label "Status" %><br>
      <%= f.select(:status, options_for_select([[$statuses[0], 0], [$statuses[1], 1], 
      [$statuses[2], 2], [$statuses[3], 3]])) %>
    </div>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :description, "Descrição", class: "mdl-textfield__label" %><br>
    <%= f.text_area :description, class: "mdl-textfield__input" %>
  </div>
  <br>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :goal, "Meta", class: "mdl-textfield__label", pattern: "-?[0-9]*(\.[0-9]+)?" %><br>
    <%= f.number_field :goal, class: "mdl-textfield__input" %>
    <span class="mdl-textfield__error">Digite um número!</span>
  </div>

  <div class = "field">
    <%= f.label "Alvos" %><br>
    <%= f.collection_select(:target_ids, Target.all, :id, :name, {}, {:multiple => true} ) %>
  </div>
  
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :mail_content, "Corpo do Email", class: "mdl-textfield__label" %><br>
    <%= f.text_area :mail_content, class: "mdl-textfield__input" %>
  </div>
  <div class="actions">
    <%= f.submit "Editar", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"%>
  </div>

<% end %>
