<p id="notice"><%= notice %></p>

<h1>Mobilizações</h1>


<button onclick="window.location.href='/busca-por-categoria/0'">Petição</button>
<button onclick="window.location.href='/busca-por-categoria/1'">Reclamação</button>
<button onclick="window.location.href='/busca-por-categoria/2'">Sugestão</button>
<button onclick="window.location.href='/busca-por-categoria/3'">Outros</button>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Categoria</th>
      <th>Descrição</th>
      <th>Mail content</th>
      <th>Meta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mobilizations.each do |mobilization| %>
      <tr>
        <td><%= mobilization.title %></td>
        <td><%= $categories[mobilization.category] %></td>
        <td><%= mobilization.description %></td>
        <td><%= mobilization.mail_content %></td>
        <td><%= mobilization.goal %></td>
        <td><%= link_to 'Abrir', mobilization %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
