<!-- Square card -->
<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
.mob
{
  display: inline-flex;
  padding: 20px 20px 20px 20px;
}
</style>

<p id="notice"><%= notice %></p>

<h1>Mobilizações</h1>

  
  <div class="mobilization-card-container">

    <% @mobilizations.each do |mobilization| %>
    <% if mobilization == nil then break end %>

        <div class="mobilization-card">

          <% $percentage = (mobilization.votes.count * 100) /  mobilization.goal %>

            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= $percentage %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= $percentage %>%;"><div id="label"><%= $percentage %>%</div></div>
            </div>

            <div class="title"><h2><%= mobilization.title %></h2></div>
            <div class="description"><h5><%= mobilization.description %></h5></div>

            <% if mobilization.status == 0 %> <!-- Em progresso -->
            <%= button_to 'Abrir', mobilization, class:"mdl-button mdl-color-text--white mdl-js-button mdl-js-ripple-effect mdl-color--light-green open-mobilization-button" %>
          <% elsif mobilization.status == 1 %> <!-- Em pausa -->
            <%= button_to 'Abrir', mobilization, class:"mdl-button mdl-color-text--black mdl-js-button mdl-js-ripple-effect mdl-color--yellow" %>
          <% elsif mobilization.status == 2 %><!-- Terminada -->
            <%= button_to 'Abrir', mobilization, class:"mdl-button mdl-color-text--white mdl-js-button mdl-js-ripple-effect mdl-color--cyan" %>
          <% elsif mobilization.status == 3 %><!-- Inativa -->
            <%= button_to 'Abrir', mobilization, class:"mdl-button mdl-color-text--white mdl-js-button mdl-js-ripple-effect mdl-color--grey" %>
          <% end %>
        </div>

   <% end %>

  </div>
  

<br>
