<p id="notice"><%= notice %></p>

<h1>Listing Mobilizations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Mail content</th>
      <th>Meta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mobilizations.each do |mobilization| %>
      <tr>
        <td><%= mobilization.title %></td>
        <td><%= mobilization.category %></td>
        <td><%= mobilization.description %></td>
        <td><%= mobilization.mail_content %></td>
        <td><%= mobilization.goal %></td>
        <td><%= link_to 'Show', mobilization %></td>
        <td><%= link_to 'Edit', edit_mobilization_path(mobilization) %></td>
        <td><%= link_to 'Destroy', mobilization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mobilization', new_mobilization_path %>
