<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mobilization.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @mobilization.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mobilization.description %>
</p>

<p>
  <strong>Mail content:</strong>
  <%= @mobilization.mail_content %>
</p>
<p>
  <strong>Pressões:</strong>
  <%= @mobilization.votes_for %>
</p>

<%= button_to 'Pressionar', press_mobilization_path(@mobilization), method: :put %> |
<%= button_to 'Editar', edit_mobilization_path(@mobilization) %>
