<p id="notice"><%= notice %></p>


<div style = "width: 60%">
  <center>
    <h2><%= @mobilization.title %></h2>
  </center>
  <div style = "float: left">
    <p>
      <%= @mobilization.description %>
    </p>
    <p>
      <strong>Categorias:</strong>
      <% roles = Array[] %>
      <% @mobilization.targets.each do |target| %>
        <% if !(roles.include?(target.role)) %>
          <%= target.role %> <br>
          <% roles.push(target.role) %>
        <% end %>
      <% end %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= $statuses[@mobilization.status] %>
    </p>
    <p>
      <strong>Alvos:</strong>
      <% @mobilization.targets.each do |target| %>
        <%= target.name %> - <%= target.role %> <br>
      <% end %>
    </p>
    <p>
      <strong>Corpo do Email:</strong>
      <%= @mobilization.mail_content %>
    </p>
    <p>
      <strong>Apoios:</strong>
      <%= @mobilization.votes_for %>
    </p>
    <p>
      <strong>Meta:</strong>
      <%= @mobilization.goal %>
    </p>
  </div>
  <div style = "float: right;">
    <% if @mobilization.comments.any? %>
      <h4> Respostas dos Pressionados </h4>
      <% @mobilization.comments.each do |comment| %>
        <p>
          <strong><%= Target.find(comment.commenter_id).name%> (<%= comment.created_at%>):</strong>
          <br>
          <%= comment.content %>
        </p>
      <%end%>
    <%end%>
  </div>
</div>

<div style="clear:left;">

<%= button_to 'Apoiar', press_mobilization_path(@mobilization), method: :put, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent" %>
<br>
<% if @mobilization.user_id == @user.id %>
  <%= button_to 'Editar', edit_mobilization_path(@mobilization),  method: :get, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
<% end %>
</div>
