<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @mobilization.title %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @mobilization.category %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @mobilization.description %>
</p>

<p>
  <strong>Mail content:</strong>
  <%= @mobilization.mail_content %>
</p>
<p>
  <strong>Pressões:</strong>
  <%= @mobilization.votes_for %>
</p>
<p>
  <strong>Meta:</strong>
  <%= @mobilization.goal %>
</p>
<p>
  <strong>Alvos:</strong>
  <% @mobilization.targets.each do |target| %>
    <%= target.name %>
  <% end %>
</p>

<%= button_to 'Pressionar', press_mobilization_path(@mobilization), method: :put %>
|
<% if @mobilization.user_id == @user.id %>
  <%= button_to 'Editar', edit_mobilization_path(@mobilization),  method: :get %>
<% end %>
