<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOB PUC - Mobilize-se</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.deep_purple-pink.min.css">
    
    <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
    
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </head>

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

    <style>
      .demo-layout-transparent 
      {
        background: url('/bg.png') center / cover;
      }
      .padLeft
      {
        padding-left: 25px;
      }
      #logo
      {
        margin-left: 40%;
      }
    </style>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary demo-layout-transparent">
        <div id="head" class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div align="center">
          <div align="center" class="mdl-layout--large-screen-only mdl-layout__header-row">
            <a href="/" id="logo"> <img src="/mobLogo.jpg" height="200" width="300"> </a>
            <div class="mdl-layout-spacer"></div>
            <div>
              <% if signed_in? %>
                <%= button_to "Sair", signout_path, id: "sign_out", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
              <% else %>
                <%= button_to "Entre", "/auth/facebook", id: "sign_in", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
              <% end %>
            </div>
          </div>
          <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          </div>
        </div>
          
        <div class=" mdl-js-ripple-effect mdl-color--primary-dark">
        
        <a href="/" class="mdl-layout__tab mdl-button"><i class="material-icons">home</i></a>

        <button id="demo-menu-lower-left"
                class="mdl-layout__tab mdl-button  ">
                mobilizações
        </button>

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-left">
          <a href="/mobs" class="mdl-menu__item">Todas</a>
          <!--<a href="/busca-por-categoria/0" class="mdl-menu__item">Ciclo Básico Engenharia</a>
          <a href="/busca-por-categoria/1" class="mdl-menu__item">Ciclo Profissional</a>
          <a href="/busca-por-categoria/2" class="mdl-menu__item">Direito</a>
          <a href="/busca-por-categoria/3" class="mdl-menu__item">Economia</a>
          <a href="/busca-por-categoria/4" class="mdl-menu__item">Outros</a>-->
        </ul>

        <div class="mdl-layout-spacer"></div>
        <% if signed_in? %>
        <%= button_to "Crie a sua mobilização" , new_mobilization_path , class: "mdl-layout__tab mdl-button"%>
          <%= button_to "Perfil" , current_user, class: "mdl-layout__tab mdl-button"%>
        <%end%>

       <a href="/regras-de-conduta" class="mdl-layout__tab mdl-button">Regras</a>
        <a href="/sobre" class="mdl-layout__tab mdl-button">Sobre</a>

      </div>
      </header>

       
        <div >
            <%= yield %>
        </div>
        
     
    </div>

  </body>
</html>
